<strong>Recuperando senha</strong>

<p>Uma recuperação de senha foi realizada para o e-mail ({{ email }}). </p>

<p>Se você não foi o autor desta requisição seria prudente trocar a senha.</p>

<p> Para continuar com a recuperação de senha utilie o token {{token}} ou clique no link abaixo.</p>

<a href="{{link}}">Criar nova senha</a>
